.sidebar{
    background-color: rgb(167, 90, 240);
    color: white;
    height: 100vh;
    padding: 1rem;
    max-width: 15vw;
    margin-top: 0;
    .list-item{
        margin: 1rem 0;
    }
}